* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.nav {
  display: flex;
  font-family: "Poppins", sans-serif;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #A5D6A7;
  color: #fff;
  position: fixed;      
  width: 100%;  
  height: 70px;         
  z-index: 1000;         
}

.logoContainer {
  display: flex;
  align-items: center;
  
}

.logoImage {
  height: 60px;
}

.navList {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-left: auto;
}

.navItem {
  margin: 0;
}

.navLink {
  color: #fff;
  text-decoration: none;
  background-color: #21BD3E;
  border-radius: 6px;
  padding: 6px 10px; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navLink:hover {
  background-color: #1e9e34;
}

.menuBtn {
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}


@media (max-width: 830px) {
  .menuBtn {
    display: block;
  }
  
  .navList {
    display: none;
  }

  .navList.open {    /* lista dos botoes*/
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 60px;
    right: 0;
    width: 200px;
    height: 30%;
    background: rgb(69, 75, 83);
    padding: 1rem;
    gap: 1rem;
    z-index: 1001;
    border-radius: 10px;
  }
  .navLink{
    color: #fff;
    background-color: transparent;
    padding: 10px 0;
    
  }
  .navLink:hover{
    background-color: transparent;
  }

  

}


